html{
    height: 100%;
}

.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #86CDD1;;
    color: black;
    text-align: center;
    margin-top:10px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #579bd1;
}

body {
    position: relative;
    margin:0;
    min-height: 100%;
    padding-bottom: 60px;
    background-color: #fdffe0;
    font-family: 'Noto Sans', sans-serif;
}

#index_table {
    border:1px solid #579bd1;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
    background-color:white;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 15px 31px 0 rgba(0,0,0,0.19);
}

#index_table a {
    text-decoration: none;
    color:#30426f;

}

#index_table th {
    text-align: left;
    border-collapse: collapse;
    background-color: #85a3a5;
    height: 30px;
    padding: 4px;
    border-bottom: 1px solid #35455257;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 7px 15px 0 rgba(0,0,0,0.19);
}

#index_table tr {
    height: 60px;
    border-bottom: 1px solid #35455257;
    border-collapse: collapse;
}

#index_table tr:hover {
    background-color: #ddd;
}

#question, #answer {
    width: 100%;
    border:1px solid #579bd1;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
}

#question th, #answer th {
    font-size: 10px;
    border:1px solid #579bd1;
    border-collapse: collapse;
    background-color: #98d0f7;
    height: 20px;
    text-align: center;
}

#question h1 {
    font-size: 24px;
    color: #0b72bb;
    font-weight: bold;
}

.smol {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.title {
    text-align: center;
}

#answer td {
    border-collapse: collapse;
}

.answerbottoms, .answerdelete {
    border-bottom: 1px solid #579bd1;
}

.sbutton, .button, .bigger_button {
    border: solid 2px #579bd1;
    border-radius: 8px;
    background-color: #86CDD1;
    color: white;
    text-shadow: 1px 1px 10px #101010;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    height: 55px;
    text-align: center;

}

.button:hover, .bigger_button:hover {
    color: #579bd1;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 13px 40px 0 rgba(0,0,0,0.19);
}


.bigger_button {
    width: 200px;
}

.button {
    width: 120px;
}

.sbutton {
    width: 80px;
}

.mainhead {
    position: fixed;
    width: 100%;
    top:0;
    background-color: #85a3a5;
    padding: 5px;
    border: solid 1px #35455257;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 15px 31px 0 rgba(0,0,0,0.19);
}

.opts {
    text-align: right;
    padding-right: 10px;
}

.answerdelete {
    border-right: 1px solid #579bd1;
    text-align: right;
    padding-right: 8px;
}

.fa-pencil, .fa-trash-o, .fa-plus-circle {
    font-size: 150%
}

.fa-pencil:hover, .fa-trash-o:hover, .fa-plus-circle:hover {
    color: red;
}

.image-upload > input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}

.textbox_gen {
    white-space: pre;
}

#header{
    margin-bottom: 105px;
}

.headtitle{
    display:inline;
    font-size: 20px;
    margin-left: 200px;
}

.headtitle a{
    text-decoration: none;
    color:black;
}

#search{
    padding:3px;
    margin-left:5px;
    vertical-align: center;
}

#table-container{
    width: 60%;
    margin:auto;
    margin-bottom: 30px;
}

#sort-form{
    margin-bottom: 5px;
}

#back-button {
    width: 60%;
    margin:auto;
    margin-top:20px;
}

#container-2{
    width: 60%;
    margin: auto;
}