html{
    height: 100%;
}

.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #85a3a5cc;
    color: black;
    text-align: center;
    margin-top:10px;
    font-size: 10px;
    height: 30px;
    border: solid 1px #35455257;
}

body {
    position: relative;
    margin:0;
    min-height: 100%;
    padding-bottom: 60px;
    background-color: #00000057;
    font-family: 'Noto Sans', sans-serif;
}

#index_table {
    border:1px solid #727272;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
    background-color:white;
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 15px 31px 0 rgba(0,0,0,0.19);
}

#index_table a {
    text-decoration: none;
    color:#30426f;
    display: block;
    padding: 15px;
}

#index_table td {
    text-align: center;
}

#index_table th {
    border-collapse: collapse;
    background-color: #85a3a5cc;
    height: 30px;
    padding: 4px;
    border-bottom: 1px solid #35455257;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 7px 15px 0 rgba(0,0,0,0.19);
}

#index_table tr {
height: 60px;
border-bottom: 1px solid #35455257;
border-collapse: collapse;
}

#index_table tr:hover {
background-color: #ddd;
}

/* SHOW QUESTION */

#question, #answer {
    border:1px solid #727272;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
    background-color:white;
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 15px 31px 0 rgba(0,0,0,0.19);
}

#question a {
    text-decoration: none;
    color:#30426f;
}

#question th {
    border-collapse: collapse;
    background-color: #85a3a5cc;
    height: 30px;
    padding: 4px;
    border-bottom: 1px solid #35455257;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 7px 15px 0 rgba(0,0,0,0.19);
}

#question tr {
    height: 60px;
    border-bottom: 1px solid #35455257;
    border-collapse: collapse;
}

#submit_button{
    padding: 5px;
}

#q{
    margin-left:10px;
    padding: 5px;
}

.smol {
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.answer-comment-smol{
    font-size: 9px;
    font-weight: bold;
    text-align: right;
}

.answer-comment{
    font-size: 12px;
    text-align: right;
}
.date{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}

.title {
    text-align: center;
}

#answer td {
    border-collapse: collapse;
}

#answer a {
    text-decoration: none;
    color:#30426f;
}

#answer tr {
    border-bottom: solid 1.2px #727272;
    border-collapse: collapse;
}

.answerbottoms, .answerdelete {
    text-align: right;
}

.sbutton, .button, .bigger_button {
    border: solid 1.2px #727272;
    border-radius: 8px;
    background-color: #85a3a5cc;
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    height: 55px;
    text-align: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 1px 18px 0 rgba(0,0,0,0.19);

}
.button:hover, .bigger_button:hover {
    color: black;
    background-color: #daeff1cf;
    -webkit-transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 13px 40px 0 rgba(0,0,0,0.19);
}

.bigger_button {
    width: 200px;
}

.button {
    width: 120px;
}

.sbutton {
    width: 80px;
}

.mainhead {
    position: fixed;
    width: 100%;
    top:0;
    background-color: #85a3a5;
    padding: 5px;
    border: solid 1px #35455257;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24), 0 15px 31px 0 rgba(0,0,0,0.19);
}

.opts {
    text-align: right;
    padding-right: 10px;
    width: 20%;
}

.answerdelete {
    border-right: 1px solid #559bd1a6;
    text-align: right;
    padding-right: 8px;
}

.fa-pencil, .fa-trash-o, .fa-plus-circle {
    font-size: 150%
}

.fa-pencil:hover, .fa-trash-o:hover, .fa-plus-circle:hover {
    color: red;
}

.image-upload > input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}

.textbox_gen {
    white-space: pre;
}

.headtitle{
    display:inline;
    font-size: 20px;
    margin-left: 200px;
}

.headtitle a{
    text-decoration: none;
    color:black;
}

#search{
    padding:3px;
    margin-left:10px;
    vertical-align: center;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}

#table-container{
    margin: 80px 0;
}

#sort-form{
    margin-bottom: 5px;
}

#back-button {
    width: 80%;
    margin:auto;
    margin-top:20px;
}

#container-2{
    width: 80%;
    margin: auto;
}

#noanswer {
    display: block;
    text-align: center;
    font-size: 13px;
}

#answer_comments{
    margin-top: 1rem;
    width: 100%;
}

#comment_border{
    border-top: 1px solid #569bd1;
}

#comment_message{
    text-align: right;
    margin-right:10px;
    font-size: 12px;
}

.form-container{
    text-align:center;
    margin-top:85px;
}

#background {
    height: 100%;
}

#form-wrapper {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

#reg-form {
    width: 40%;
    display: inline-block;
    background-color: #3B666B;
    height: 400px;
    margin: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .9);
    border-radius: 4px;
}

.label {
    font-size: 90%;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 105%;
}