html {
    height: 100%;
    scroll-behavior: smooth;
    padding: 5px;
    font-family: 'Noto Sans', sans-serif;
}

.footer {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #86CDD1;;
    color: black;
    text-align: center;
    margin-top:10px;
    font-size: 10px;
    height: 30px;
}

body {
    position: relative;
    margin:0;
    min-height: 100%;
    padding-bottom: 60px;
}

#index_table {
    width: 100%;
    padding: 10px;
    border:1px solid #579bd1;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;

}

#index_table th {
    text-align: left;
    border-collapse: collapse;
    background-color: #98d0f7;
    height: 30px;
    padding: 4px;
    border-bottom: 1px solid #579bd1
}

#index_table tr {
    height: 30px;

}

#question, #answer {
    width: 100%;
    border:1px solid #579bd1;
    border-collapse: collapse;
    border-radius: 5px 5px 5px 5px;
}
#question th, #answer th {
    font-size: 10px;
    border:1px solid #579bd1;
    border-collapse: collapse;
    background-color: #98d0f7;
    height: 20px;
}

#question h1 {
    font-size: 24px;
    color: #0b72bb;
    font-weight: bold;
}

.smol {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.title {
    text-align: center;
}

#answer td {
    border-collapse: collapse;
}

.answerbottoms, .answerdelete {
    border-bottom: 1px solid #579bd1;
}

.sbutton, .button, .bigger_button {
    border: solid 2px #579bd1;
    border-radius: 180px;
    background-color: white;
    color: #579bd1;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
    height: 30px;
    text-align: center;
}

.bigger_button {
    width: 200px;
}

.button {
    width: 120px;
}

.sbutton {
    width: 80px;
}

.button:hover, .bigger_button:hover {
    background-color: #86CDD1;
    color: black;
    cursor: pointer;
}

.mainhead {
    width: 100%;
    text-align: center;
    background-color: #86CDD1;
    margin-bottom: 20px;
    padding-bottom: 4px;
    padding-top: 4px;
    border: solid 1px #579bd1;
    border-radius: 3px;
}



.headtitle {
    font-size: 30px;
}

.opts {
    text-align: right;
    padding-right: 10px;
}

.answerdelete {
    border-right: 1px solid #579bd1;
    text-align: right;
    padding-right: 8px;
}

.fa-pencil, .fa-trash-o, .fa-plus-circle {
    font-size: 150%
}

.fa-pencil:hover, .fa-trash-o:hover, .fa-plus-circle:hover {
    color: red;
}

.image-upload > input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}