<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>AskMate</title>
</head>
<body>
<header class="mainhead">
    <h1>AskMate (Sprint 1)</h1>
</header>
<table id="index_table">
    <th>Title</th>
    <th width="15%">{{ ' '.join(header.split('_')).title() }}</th>

    <th width="5%">
        <i class="fa fa-sort-amount-asc"></i>  |
        <i class="fa fa-sort-amount-desc"></i>
    </th>
    {% for question in questions %}
        <tr>
            <td style="padding: 4px"><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
            <td> {{ question[header] }}</td>
            <td></td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<p><a href="/add-question">
    <input type="button" id="new_question" class="bigger_button" value="Ask a new question"></a></p>
<p>
    <form action="/list" method="get">
    <p>Sort by: </p>
    <select id="order_by" name="order_by">
        <option value="submission_time">Submission Time</option>
        <option value="view_number">View Number</option>
        <option value="vote_number">Vote Number</option>
        <option value="{{ header }}" selected="selected" hidden>{{ ' '.join(header.split('_')).title() }}</option>
    </select>
    <p>
        <button type="submit" name="order_direction" value="asc"><i class="fa fa-sort-amount-asc"></i></button>
        <button type="submit" name="order_direction" value="desc"><i class="fa fa-sort-amount-desc"></i></button>

    </p>
    </form>
</p>
<br>
<a href="/list">
<input type="button" id="back" class="bigger_button" value="Back to the Main Page"></a>
</body>
<br>
<br>
<div class="footer">
    <p>Codecool BP - 2018 - Bence Árvai, Balázs Bertalan, Katalin Csortos</p>
</div>
</html>