<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>AskMate</title>
</head>
<body>
<header>
    <h1>AskMate (Sprint 1)</h1>
</header>
    <table>
        <th>Title</th>
        <th>Submission Time</th>

        {% for question in questions %}
            <tr>
                <td><a href="/question/{{ question.id }}">{{ question.title }}</a></td>
                <td> {{ question.submission_time }} </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    <a href="/add-question">
        <input type="button" id="new_question" class="bigger_button" value="Ask a new question"></a>

</body>
</html>