<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/scripts/snowfall.js"></script>
</head>
<body>
<div id="header">
<header class="mainhead">
        <p class="headtitle">
            <a href="/">ask<strong>mate</strong></a>
        </p>
        <input id="search" type="text" placeholder="Search">
</header>
</div>
{% block content %} {% endblock %}
</body>
</html>