<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Title</title>
</head>
<header class="mainhead">
    <h1>AskMate (Sprint 1)</h1>
</header>
<body>
    <form action="/add-question" method="POST">
        <p><label>Title</label></p>
        <input id="title" name="title" type="text" placeholder="Add title to your question" required>

        <p><label>Question</label></p>
        <textarea id="message" name="message" cols="50" rows="20"
                  placeholder="Write your question here" required></textarea>

        <p><label>Upload an image:</label></p>
        <input id="image" name="image" type="file">
        <br>
        <br>
        <br>
        <button type="submit" class="bigger_button">Save new question</button>
    </form>
    <br>
    <a href="/list">
    <input type="button" id="back" class="bigger_button" value="Back to the Main Page"></a>
    <br>
</body>
<br>
<br>
<div class="footer">
    <p>Codecool BP - 2018 - Bence Árvai, Balázs Bertalan, Katalin Csortos</p>
</div>
</html>