<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Title</title>
</head>
<body>
    <form action="/question/{{ question_id }}" method="POST">
        <p>
            <textarea id="message" name="message" cols="50" rows="20"  placeholder="Write your answer here! " required></textarea>
        </p>
        <p>
            <label for='image'>Upload an image</label><br>
            <input id="image" name="image" type="file">
        </p>
        <br>
        <button type="submit" class="button">Post answer</button>
    </form>
    <br>
<a href="/list">
    <input type="button" id="back" class="bigger_button" value="Back to the Main Page"></a>
</body>
</html>