<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/show_question.css') }}">
    <title>Title</title>
</head>
<body>
    <form action="/add-question" method="POST">
        <p><label>Title</label></p>
        <input id="title" name="title" type="text" required>
        <p><label>Question</label></p>
        <textarea id="message" name="message" cols="50" rows="20"
                  placeholder="Write here your question!" required></textarea>
        <p><label>Image/Picture</label></p>
        <input id="image" name="image" type="file" >Upload an image
        <br>
        <br>
        <button type="submit">Save new question</button>
    </form>
    <br>
    <br>
    <a href="/list">
    <input type="button" id="back" class="button" value="Back to the Main Page"></a>
    <br>
</body>
</html>