<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Add new comment</title>
</head>
<header class="mainhead">
    <h1 class="headtitle">AskMate (Sprint 1)</h1>
</header>
<body>
    <div style="text-align: center">
        <form action="/question/{{ question_id }}" method="POST" enctype=multipart/form-data>
            <p>
                <p><label style="font-weight: bold">Your comment</label></p>
                <textarea class="textbox_gen" id="message" name="comment_message" cols="50" rows="20"
                          placeholder="Write your comment here "
                          required></textarea>
            </p>
            <button type="submit" class="button">Post comment</button>
        </form>
        <br>
        <br>
        <p><a href="/list">
            <input type="button" id="back" class="bigger_button" value="Back to the Main Page"></a></p>
    </div>
    </body>
    <br>
    <div class="footer">
        <p>Codecool BP - 2018 - Bence Árvai, Balázs Bertalan, Katalin Csortos</p>
    </div>
</html>
</body>
</html>