<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <title>Add new answer</title>
</head>
<header class="mainhead">
    <h1>AskMate (Sprint 1)</h1>
</header>
<body>
    <form action="/question/{{ question_id }}" method="POST">
        <p>
            <p><label style="font-weight: bold">Your answer</label></p>
            <textarea id="message" name="message" cols="50" rows="20"
                      placeholder="Write your answer here "
                      required></textarea>
        </p>
        <p>
            <div class="image-upload">
                <label for="image"><img src="http://goo.gl/pB9rpQ"/></label>
                <input id="image" type="file">
            </div>
        </p>
        <p>Click the icon to upload an image</p>
        <br>
        <button type="submit" class="button">Post answer</button>
    </form>
    <br>
<a href="/list">
    <input type="button" id="back" class="bigger_button" value="Back to the Main Page"></a>
</body>
<br>
<br>
<div class="footer">
    <p>Codecool BP - 2018 - Bence Árvai, Balázs Bertalan, Katalin Csortos</p>
</div>
</html>