<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Title</title>
</head>
<body>

<table id="question">
    <tr>
        <th colspan="3">
            <p>Question</p>
        </th>
    </tr>
    <tr>
        <td class="title" colspan="3">
            <h1>{{ question.title }}</h1>
            <p>{{ question.message }}</p>
        </td>
    </tr>
    <tr>
        <td class="smol">
            <p>Posted: {{ question.submission_time }}</p>
        </td>
        <td class="smol">
            <p>Seen by: {{ question.view_number}}</p>
        </td>
        <td class="smol">
            <p>Votes: {{ question.vote_number }}</p>
        </td>
    </tr>
</table>
<br>
<div>
    <a href="/question/{{ question.id }}/new-answer"><input type="button" class="button" value="Add new answer"/></a>
    <a href="/question/{{ question.id }}/edit"><input type="button" class="button" value="Edit question"/></a>
    <a href="/question/{{ question.id }}/delete"><input type="button" class="button" value="Delete question"/></a>
</div>
<br>
<table id="answer">
    <th colspan="2">
        <p>Answers</p>
    </th>
    {% for answer in answers %}
        <tr>
            <td>
                <p>{{ answer.message }}</p>
                <p class="smol">{{ answer.submission_time }}</p>
                <form action="/answer/{{ answer.id }}/delete" method="POST">
                    <input type="submit" value="Delete" />
                    <input type="text" name="question_id" value="{{ question.id }}" hidden>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<a href="/list">
    <input type="button" id="back" class="bigger_button" value="Back to the Main Page"></a>
<br>

</body>
</html>