<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/show_question.css') }}">
    <title>Title</title>
</head>
<body>

<table class="question" style="border:1px solid black; border-collapse: collapse">
  <tr>
    <th class="tg-0lax" colspan="3">
        <p>Question</p>
    </th>
  </tr>
  <tr>
    <td class="tg-0lax" colspan="3">
        <h1>{{ question.title }} </h1>
        <p>{{ question.message }}</p>
    </td>
  </tr>
  <tr>
    <td class="tg-0lax" style="border:1px solid black; border-collapse: collapse">
        Posted: {{ question.submission_time }}
    </td>
    <td class="tg-0lax" style="border:1px solid black; border-collapse: collapse">
        Seen by: {{ question.view_number}}
    </td>
    <td class="tg-0lax" style="border:1px solid black; border-collapse: collapse">
        Votes: {{ question.vote_number }}
    </td>
  </tr>
</table>
<br>
<br>
<a href="/question/{{ question.id }}/new-answer">
    <input type="button" id="new_answer" value="Add new answer"></a>
<br>
<br>
<table class="answer">
    <tr>Answers</tr>
    {% for answer in answers %}
        <tr>
            <p><td>{{ answer.message }}</td></p>
        </tr>

        <tr>
            <p><td>{{ answer.submission_time }}</td></p>

        </tr>
        <tr>
            <td><form action="/answer/{{ answer.id }}/delete" method="POST">
                    <input type="submit" value="Delete" />
                    <input type="text" name="question_id" value="{{ question.id }}" hidden>
                </form>
            </td>
        </tr>

    {% endfor %}

</table>



</body>
</html>